[Desktop Entry]
Version=1.0
Type=Application
Name=Neovide
Comment=Neovim GUI
Exec=kitty --title="Neovide" --start-as minimized --session=none /home/kasm-user/bin/start-neovide __desktop__ %f
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/neovide.png
Categories=System;
