[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/appimagelauncherd
Name=AppImageLauncher
Icon=AppImageLauncher
Terminal=false
Categories=Utility;
