[Desktop Entry]
Name=LM Studio
Exec=/home/kasm-user/Applications/LM+Studio-0.2.8-beta-v1_edb0c60655a336cacc2443cfc0b89b1a.AppImage
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/lmstudio.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
Name[en_US]=LM Studio
