[Desktop Entry]
Version=1.0
Type=Application
Name=Maltego
Comment=Maltego
Exec=maltego
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/maltego.png
Categories=System;
