[Desktop Entry]
Version=1.0
Type=Application
Name=Pokémon Pokédex
GenericName=Pokémon
Comment=Pokémon Pokédex
Exec=/home/kasm-user/bin/open-pokedex pokedex
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/pokemon.png
Categories=System;
