[Desktop Entry]
Version=1.0
Type=Application
Name=Lazyman
Comment=Neovim Configuration Manager
Exec=notify-send "Install in progress - please be patient"
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/neovim-hicontrast.png
Categories=System;
