[Desktop Entry]
Version=1.0
Type=Application
Name=BTop
GenericName=System monitor
Comment=Fast, feature-rich, system monitor
Exec=/home/kasm-user/.local/kitty.app/bin/kitty --session none --title 'BTop System Monitor' --override allow_remote_control=yes --listen-on unix:/tmp/btop_kitty btop
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/btop.png
Categories=System;TerminalEmulator;
