[Desktop Entry]
Version=1.0
Type=Application
Name=Lazyman
Comment=Neovim Configuration Manager
Exec=lazyman-install
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/neovim-hicontrast.png
Categories=System;
