[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kasm-user/Desktop/thunderbird.desktop]
row=4
col=0

[/home/kasm-user/Desktop/ranger.desktop]
row=0
col=1

[/home/kasm-user/Desktop/Downloads]
row=0
col=0

[/home/kasm-user/Desktop/firefox.desktop]
row=2
col=0

[/home/kasm-user/Desktop/kitty.desktop]
row=2
col=1

[/home/kasm-user/Desktop/google-chrome.desktop]
row=3
col=0

[/home/kasm-user/Desktop/Uploads]
row=1
col=0

[/home/kasm-user/Desktop/lazyman.desktop]
row=3
col=1

[/home/kasm-user/Desktop/btop.desktop]
row=1
col=1

[/home/kasm-user/Desktop/nvims.desktop]
row=4
col=1

