[Desktop Entry]
Version=1.0
Type=Application
Name=lazyman
Comment=Neovim Configuration Manager
Exec=xfce4-terminal --tab --geometry 100x40 --title Lazyman --command lazyman
Icon=/home/kasm-user/.local/share/icons/hicolor/256x256/apps/neovim-hicontrast.png
Categories=System;
